[user]
	email = fabio.ornellas@gmail.com
	name = Fabio Pugliese Ornellas
[color]
	ui = auto
[http]
	sslVerify = false
[core]
	excludesfile = $HOME/.gitignore
	editor = zed -n -w
[credential]
	helper = store
[alias]
	aa      = add -A
	br      = branch
	cb      = checkout -b
	cm      = commit
	cma     = commit --amend
	co      = checkout
	cpk     = cherry-pick
	df      = diff
	ds      = diff --staged
	dump    = cat-file -p
	fuck    = push -f
	l	= log --oneline --decorate
	lg      = log --graph --oneline --decorate
	lga      = log --graph --oneline --decorate --all
	lgp     = log --graph --abbrev-commit --all --pretty=format:'%C(auto)%h %d %s (%Cgreen%an%Creset, %ar)%n' --stat -p
	lgs     = log --graph --abbrev-commit --all --pretty=format:'%C(auto)%h %d %s (%Cgreen%an%Creset, %ar)%n' --stat
	pr      = pull --rebase
	st      = status
	type    = cat-file -t
	unstage = reset HEAD
	f       = fetch -pP
	list-ignored = clean -xdn
	clean-ignored = clean -xdf
[push]
	default = simple
	autoSetupRemote = true
[merge]
    tool = meld
[rerere]
	enabled = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
