"*":
  "autocomplete-plus":
    useAlternateScoring: false
  core:
    autoHideMenuBar: true
    automaticallyUpdate: false
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "TARGETS"
        "cconf"
        "cinc"
        "ctw"
        "mcconf"
        "tw"
        "thrift-cvalidator"
        "BUCK"
      ]
    disabledPackages: [
      "fuzzy-finder"
      "metrics"
      "tree-view"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "limited"
  editor:
    fontFamily: "Input"
    fontSize: 16
    invisibles: {}
    scrollPastEnd: true
    softWrap: true
  "exception-reporting":
    userId: "df1f8312-7b1e-3ef3-a049-e6af254a8143"
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "seeing-is-believing":
    sibCommand: "/home/fornellas/.rbenv/shims/seeing_is_believing"
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
